/* 
    Document    : estilo
    Created on  : 18/05/2012, 15:00:00
    Author      : André da Silva Severino
    Description : Arquivo para setar o estilo default do saas
    Package     : web-files/global/css
*/

/* Botoes */
.btndf{height:30px; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; display:inline-block; padding:0px 15px; font:12px Verdana; line-height:30px;}
    .btn-red{background:#D24836; color:#FFF; border:1px solid #A83626;}
    .btn-red:hover{background:#B83C29; border:1px solid #D24836;}
    .btn-blue{background:#4A8DF6; color:#FFF; border:1px solid #3F88F5;}
    .btn-blue:hover{background:#3F88F5; border:1px solid #4A8DF6;}
    .btn-yellow{background:#F6AF4B; color:#FFF; border:1px solid #F5A83F;}
    .btn-yellow:hover{background:#F5A83F; border:1px solid #F6AF4B;}







/* BreadCrumb */
/*#nav-top{height:32px; padding:6px 0px; margin-bottom:20px; cursor:default; background:#F8F8F8;}
#nav-top li{display:inline; font:bold 12px Arial; color:#B6B6B6; line-height:32px;}*/
#nav-top{height:32px; padding:6px 0px; margin-bottom:20px; cursor:default;}
#nav-top li{display:inline; font:12px Arial; color:#B6B6B6; line-height:32px;}
#nav-top li img{vertical-align:middle; padding:0px 6px;}
#nav-top li a img{border:none;}


.nodisplay{display:none;}
.fleft{float:left;}
.fright{float:right;}
.aleft{text-align:left;}
.bold{font-weight:bold;}

a img{border:none;}

/* Listagem de registros */
.tb-lista{width:100%; border:1px solid #bab9b9; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; margin-bottom:10px;}

.tb-lista .w40{width:40px;}
.tb-lista .w90{width:90px;}
.tb-lista .tdacao{width:34px; padding-left:0px;}
.tb-lista .first-td{border-left:none;}
.tb-lista .center{text-align:center;}
.tb-lista .nopaddingleft{padding-left:0px;}
.tb-lista .tdbold{font-weight:bold;}
.tb-lista .cred{color:#900;}
.tb-lista .bg-default td, .tb-lista .bg-default{background:#dbdbdb;}
.tb-lista .bg-verde td, .tb-lista .bg-verde{background:#4f9967; color:#FFF;}
.tb-lista .bg-vermelho td, .tb-lista .bg-vermelho{background:#b12c2c; color:#FFF;}
.tb-lista .bg-azultd, .tb-lista .bg-azul{background:#367ca5; color:#FFF;}
.tb-lista .tdacao a{text-align:center; display:block;} 

.tb-lista thead tr{background:url(../img/table-thead-1.jpg) left top repeat-x; height:48px;}
.tb-lista thead tr th{color:#FFF; font-size:14px; font-family:'Open Sans'; border-left:1px solid #bab9b9;}
.tb-lista tbody tr{height:32px;}
.tb-lista tbody tr:hover td,
.tb-lista tbody tr:hover{background:#c5ebff;}
.tb-lista tbody .bg-vermelho:hover td{background:#c92b2b;}
.tb-lista tbody .bg-verde:hover td{background:#457750;}
.tb-lista tbody tr td{font:12px Arial; padding-left:6px; border-top:1px solid #bab9b9; border-left:1px solid #bab9b9;}
.tb-lista tbody tr th{border-top: 1px solid #bab9b9; border-left: 1px solid #bab9b9;}
.tb-lista tbody tr td a{font:12px Arial; color:#000;}
.tb-lista tbody tr td a:hover{text-decoration:underline;}
.tb-lista tbody tr.tr-titulo td{font:bold 14px Arial; height:50px; color:#030;}

/* Detalhes do registro */
.tb-detalhe{width:100%; border:1px solid #a0a4a5; margin-top:40px;}
.tb-detalhe.nomargintop{margin-top:0px;}
.tb-detalhe.nobordertop{border-top:none;}

.tb-detalhe .w40{width:40px;}
.tb-detalhe .w80{width:80px;}
.tb-detalhe .w120{width:120px;}
.tb-detalhe .w140{width:140px;}
.tb-detalhe .w180{width:180px;}
.tb-detalhe .first-td{border-left:none;}
.tb-detalhe .center{text-align:center;}
.tb-detalhe .nopaddingleft{padding-left:0px;}
.tb-detalhe .tdbold{font-weight:bold;}
.tb-detalhe .tdtexto{font-weight:bold;}

.tb-detalhe thead tr{background:#e4e4e4; height:44px;}
.tb-detalhe thead tr th{cursor:default; color:#000; font-size:22px; line-height: 38px; font-family:'Open Sans'; border-left:1px solid #bab9b9;}
.tb-detalhe tbody tr{height:32px;}
.tb-detalhe tbody tr td{padding-left:6px; border-top:1px solid #bab9b9; border-left:1px solid #bab9b9;}

#box-botoes-editar{
    border:1px solid #c8c9c9; 
    background:#eff0f0; 
    padding:10px 25px; 
    margin:10px 0px;
    height:30px;
}
#box-botoes-editar p{text-align:center;}
#box-botoes-editar p a{width:100px; height:30px; display:block; font:bold 12px Tahoma; line-height:30px;}
#box-botoes-editar p#bt-editar-listar a{float:left; background:#457750; color:#FFF; border:1px solid #174020;}
#box-botoes-editar p#bt-editar-listar a:hover{border:1px solid #031c09; background:#0f4714;}
#box-botoes-editar p#bt-editar-deletar a{float:right; background:#9f2525; color:#FFF; border:1px solid #830e0e;}
#box-botoes-editar p#bt-editar-deletar a:hover{border:1px solid #4e1313; background:#5d0707;}



#toTop {
    display:none;
    text-decoration:none;
    position:fixed;
    bottom:30px;
    right:4px;
    overflow:hidden;
    width:51px;
    height:51px;
    border:none;
    text-indent:-999px;
    background:url(../img/ui.totop.png) no-repeat left top;
}
#toTopHover {
    background:url(../img/ui.totop.png) no-repeat left -51px;
    width:51px;
    height:51px;
    display:block;
    overflow:hidden;
    float:left;
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
}
#toTop:active, #toTop:focus {outline:none;}


.box-status{
    padding:8px 0px 8px 24px;
    margin:10px auto; 
    border-radius:4px; 
    -moz-border-radius:4px;  
    -webkit-border-radius:4px; 
    cursor:default;
}

.box-status a {
    font: 11px Tahoma;
    text-decoration: underline;
    color: black;
}

.box-status a:hover {
    font: 11px Tahoma;
    text-decoration: none;
    color: black;
}

.status_erro{background:url(../img/ico-erro-1.png) #FFCACA 2px center no-repeat; border:1px solid #AE0000;}
    .status_erro p{font:11px Tahoma;color:#B70000;}
    .status_erro p strong{font:bold 12px Arial;}

.status_ok{background:url(../img/ico-ok-1.png) #EBFFC5 2px center no-repeat; border:1px solid #75DC5A;}
    .status_ok p{font:11px Tahoma;color:#060;}
    .status_ok p strong{font:bold 12px Arial;}
    
.status_info{background:url(../img/ico-info-1.png) #FFFFCD 3px center no-repeat; border:1px solid #FEC143;}
    .status_info p{font:11px Tahoma;color:#000;}
    .status_info p strong{font:bold 12px Arial;}


#box-carregando-1, #box-carregando-2{ display:none; }

#tiideal-logo p {color: #FFF; font: 11px Tahoma; float: left; margin-top: 5px; margin-right: 5px;}

#tiideal-logo{height:17px; line-height:17px; float: left; margin-right: 90px; margin-top: 3px; margin-left: 10px;}
#tiideal-logo a{position:absolute; margin-top:5px; width:70px; height:17px; font:11px Tahoma; color:#FFF; background:url('http://ti-ideal.com/logo/logo_rodape_modelo_1.png') top no-repeat;}
#tiideal-logo a:hover{background:url('http://ti-ideal.com/logo/logo_rodape_modelo_1.png') 0px -17px no-repeat; text-decoration: none; !important}