/* 
    Document    : formulario
    Created on  : 17/05/2012, 15:00:00
    Author      : André da Silva Severino
    Description : Arquivo para setar o estilo padrão dos campos dos formulários default do sistema
    Package     : web-files/global/css
*/
fieldset{border:none;}
input,textarea,select,.uneditable-input{display:inline-block;width:210px;height:18px;padding:4px;font-size:13px;line-height:18px; color:#1A1A1A;border:1px solid #ccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
input[type=checkbox],input[type=radio]{width:auto;height:auto;padding:0;margin:3px 0;*margin-top:0;line-height:normal;color:#1A1A1A;border:1px solid #ccc; cursor:pointer;}
input[type=file]{background-color:#FFF;padding:initial;border:initial;line-height:initial;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
select,input[type=file]{height:27px;line-height:27px;*margin-top:4px;}
select[multiple]{height:inherit;}
textarea{height:auto;}
.uneditable-input{background-color:#FFF;display:block;border-color:#eee;-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025);-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025);box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.025);cursor:not-allowed;}
:-moz-placeholder{color:#bfbfbf;}
::-webkit-input-placeholder{color:#bfbfbf;}
input,textarea{-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;-moz-transition:border linear 0.2s,box-shadow linear 0.2s;-ms-transition:border linear 0.2s,box-shadow linear 0.2s;-o-transition:border linear 0.2s,box-shadow linear 0.2s;transition:border linear 0.2s,box-shadow linear 0.2s;-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);}
input:focus,textarea:focus{outline:0;border-color:#069;border-color:rgba(82, 168, 236, 0.8);-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);}
input[type=file]:focus,input[type=checkbox]:focus,select:focus{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;outline:1px dotted #666;}
button{cursor:pointer;}
input:hover,textarea:hover,select:hover{border-color:#000;}

/* Formulários de cadastros padrão */

.info-add{background:url(../img/ico-mais.png) left center no-repeat; height:23px; font:bold 14px Arial; color:#980202; padding-left:32px; line-height:23px; cursor:pointer;}

.tbform-padrao{width:100%; margin:10px 0px;}

.tbform-padrao .tdtexto, .tbform-padrao .tdtexto label{font:bold 12px Tahoma; color:#000; text-align:right; padding-right:4px;}
.tbform-padrao .w140{width:140px;}
.tbform-padrao .w100{width:100px;}
.tbform-padrao .w180{width:180px;}
.tbform-padrao .w220{width:220px;}
.tbform-padrao .w80{width:80px;}
.tbform-padrao textarea.w90{width:90%;}
.tbform-padrao .text_data{width:60%;}
.tbform-padrao tr.bgcinza{background:#f2f1f1;}
.tbform-padrao tr td{padding:4px 0px;}
.tbform-padrao tr td label{padding-left:5px; cursor:default; padding-top: 5px; font: bold 12px Tahoma;}
.tbform-padrao thead tr{height:34px;}
.tbform-padrao thead tr th,
.titulo-tr td, .titulo-tr td b{background:#ccffcc; color:#030; padding-left:10px; font:bold 12px Arial;}

/*.tbform-padrao thead tr td p{padding-left:10px; font:bold 12px Arial; width: 500px; font-size: 15px; margin-left: 10px;}*/

.tbform-padrao ul{margin-right:30px;list-style-type:none;}

.tbform-padrao tfoot td.btfoot{padding-top:30px;}




.tb-form-pesquisa{width:100%; margin:10px 0px;}
.tb-form-pesquisa .tdtexto{width:120px;}
.tb-form-pesquisa .tdtexto, .tdtexto label{font:bold 12px Tahoma; color:#000; text-align:right; padding-right:4px;}
.tb-form-pesquisa tr td{padding:4px 0px;}
.tb-form-pesquisa tr td input{width:90%;}
.tb-form-pesquisa tr td select{width:90%;}
.tb-form-pesquisa tr td#td-pdf{width:80px; height:28px; text-align:center;}
.tb-form-pesquisa tr td#td-pdf a{display:block; background:#dedfde; display:block; font:bold 12px Arial; height:28px; line-height:28px; color:#333; margin-right:10px;}
.tb-form-pesquisa tr td#td-pdf a:hover{background:#CCC; color:#000;}
.tb-form-pesquisa tr td#td-resetar{width:70px; height:28px; text-align:center;}
.tb-form-pesquisa tr td#td-resetar a{display:block; background:#dedfde; display:block; font:bold 12px Arial; height:28px; line-height:28px; color:#333;}
.tb-form-pesquisa tr td#td-resetar a:hover{background:#CCC; color:#000;}

.oculto {display: none;}